<li class="link-card" data-id="{{id}}">
  <img src="{{img}}" alt="Page previev">
  <a href="{{link}}" class="link" target="_blank">{{title}}</a>
  <button type="button" data-action="delete">удалить карточку</button>
</li>