.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer__link {
    color: #f38181;
    text-decoration: none;
}
.footer__copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.footer-form__email {
    font-size: 15px;
    font-family: 'Roboto', cursive;
    font-style: italic;
    font-weight: 100;
    color: rgb(204, 204, 204);
    font-style: italic;
    font-weight: 300;
    line-height: 1.6;
    width: 230px;
    height: 40px;
    margin-right: -4px;
}
.footer-form__subscribe {
    background-color: rgb(149, 225, 211);
    width: 150px;
    height: 46px;
    text-transform: uppercase;
    color: #ffffff;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.footer-form--clearfix::after {
    display: table;
    content: "";
    clear: both;
}