h2, h6, p, button {
    padding: 0;
    margin: 0;
}
$logo-color: #ffffff;
$main-font: 'Montserrat', sans-serif;
$hover-color: #fce38a;
$navigation-color: #f9e4e4;
$subtitle-font: 'Kaushan Script', cursive;
$border-color: #f38181;
$svg-color: #95e1d3;
$text-font: 'Roboto', sans-serif;