h2, h6, p, button {
    padding: 0;
    margin: 0;
}
.wrapper {
    width: 1920px;
    height: auto;
    margin: 0 auto;
    background-image: url('../images/Layer_15-min.jpg');
    background-repeat: no-repeat;
    padding-top: 39px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .wrapper {
      background: url('../images/Layer_15@2x-min.jpg') no-repeat;
    }
  }
.container {
    max-width: 1201px;
    height: auto;
    margin: 0 auto;
}
.header {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 130px;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.navigation__item {
    text-transform: uppercase;
    font-size: 14px;
    list-style: none;
    margin-left: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.navigation__btn {
    background: unset;
    border: none;
}
.navigation__link {
    text-decoration: none;
    color: #f9e4e4;
    padding-bottom: 13px;
}
.navigation__svg {
    fill: #f9e4e4;
    padding-bottom: 13px;
}
.navigation__link:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}
.navigation__btn:hover .navigation__svg {
    fill: #fce38a;
    border-bottom: 3px solid #fce38a;
}
.box {
    text-align: center;
    margin-bottom: 45px;
}
.box__template {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 72px;
    color: #ffffff;
}
.box__title {
    font-size: 150px;
    color: #ffffff;
    padding: 0 100px;
    line-height: 0.933;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 125px;
    margin-top: 40px;
}
.box__button {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    width: 164px;
    height: 44px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 214px;
}
.service, .team {
    text-align: center;
}
.service__subtitle, .team__organization {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 24px;
}
.service__title, .team__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin: 23px 0 0 0;
}
.service__title:after, .team__title:after {
    border-bottom: 5px solid #f38181;
    content: "";
    width: 62px;
    display: block;
    margin: 0 auto;
    padding-bottom: 43px;
    margin-bottom: 65px;
}
.service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.service-list__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
}
.service-list-article {
    width: 300px;
    text-align: left;
}
.service-list-article__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    margin-bottom: 20px;
}
.service-list-article__text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 1.6;
}
.team__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    padding: 0 150px 0 150px;
    margin-bottom: 96px;
}
.team-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 83px;
}
.team-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer__link {
    color: #f38181;
    text-decoration: none;
}
.footer__copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.footer-form__email {
    font-size: 15px;
    font-family: 'Roboto', cursive;
    font-style: italic;
    font-weight: 100;
    color: rgb(204, 204, 204);
    font-style: italic;
    font-weight: 300;
    line-height: 1.6;
    width: 230px;
    height: 40px;
    margin-right: -4px;
}
.footer-form__subscribe {
    background-color: rgb(149, 225, 211);
    width: 150px;
    height: 46px;
    text-transform: uppercase;
    color: #ffffff;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.footer-form--clearfix::after {
    display: table;
    content: "";
    clear: both;
}
.service-list__svg {
    fill: #95e1d3;
    margin-right: 28px;
}
.team-card__name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase; 
    line-height: 1.2;
    margin-bottom: 15px;    
    margin-top: 30px;
}
.team-card__direction {
    font-family: 'Roboto', cursive;
    font-style: italic;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;
    color: rgb(153, 153, 153);
    line-height: 1.6;
}
.team-item {
    position: relative;
}
.team-item__image {
    width: 380px;
    height: auto;
}
.team-item-social {
    position: absolute;
    top: 0;
    left: 0;
    background-image: -webkit-gradient( linear, left bottom, left top, from(rgb(252,227,138)), to(rgb(243,129,129)));
    background-image: -webkit-linear-gradient( bottom, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -o-linear-gradient( bottom, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: linear-gradient( 0deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: hidden;
}
.team-cards .team-item:hover .team-item__image, .team-cards .team-item:hover .team-item-social {
    visibility: visible;
    -webkit-transform: translate(-10px,-10px);
        -ms-transform: translate(-10px,-10px);
            transform: translate(-10px,-10px);
    -webkit-transition: -webkit-transform, -webkit-box-shadow;
    transition: -webkit-transform, -webkit-box-shadow;
    -o-transition: transform, box-shadow;
    transition: transform, box-shadow;
    transition: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
    -webkit-box-shadow: 10px 10px 0 #95e1d3;
            box-shadow: 10px 10px 0 #95e1d3;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    opacity:0.9;
}
.team-item-social__link:hover, .team-item-social__link:hover .team-item-social__icon {
    background-color: #f38181;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    fill: #ffffff;
}
.team-item-social__link {
    width: 58px;
    height: 58px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    border-right: 1px solid #f9bd87;
}
.team-item-social__icon {
    fill: #f38181;
    padding-top: 10px;
}